@font-face {
    font-family: 'till';
    src: url("../fonts/Inter-VariableFont_slnt\,wght.ttf");
}
body {
width: 1440px;
height: 2100px;
background: #FFFFFF;
padding: 30px;

}
.container {
width: 1337px;
height: 19px;
margin-left: 38px;
margin-top: 38px;
background:url(image1.png)


}

.img{
    background: url(image2.ong);
}
.title1{
    width: 1337px;
    height: 19px;
    
    font-family: 'till';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    
    color: #000000;
}
.text1{
width: 1364px;
height: 99px;


font-family: 'till';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;


color: #000000;
}
.title2{
    width: 1337px;
height: 19px;


font-family: 'till';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #000000;
}
.text2{
width: 1364px;
height: 99px;

font-family: 'till';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #000000;
}

.container1 {
    
margin-left: 40px;
margin-top: 37px;
background: url(AA1.png);

}
.title3{
width: 494px;
height: 19px;
margin-top: 200px;
padding-bottom: 27px;
padding-left: 40px;

font-family: 'till';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #000000;
}
.text3{
width: 1363px;
height: 202px;



font-family: 'till';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #000000;

}
.title4{
width: 494px;
height: 19px;
margin-top: 74px;

font-family: 'till';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #000000;
}
.text4{
width: 1323px;
height: 167px;


font-family: 'till';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #000000;
}
.image{
    background:url(A1.png)
}